<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501376187020-dr5n7l9f3faj3e556otg4mhnd4tbuic4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501376187020-dr5n7l9f3faj3e556otg4mhnd4tbuic4</string>
	<key>API_KEY</key>
	<string>AIzaSyBE5PT0scR7MdPJB13wXTkUFJ5R1h8p36I</string>
	<key>GCM_SENDER_ID</key>
	<string>501376187020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shotDo.shotDo</string>
	<key>PROJECT_ID</key>
	<string>shot-do</string>
	<key>STORAGE_BUCKET</key>
	<string>shot-do.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501376187020:ios:c2eb5c89152fadf75499a9</string>
</dict>
</plist>